{% extends 'base_template.html' %}

{% block content %}
<br>
    <div class="w-100 center d-flex justify-content-center flex-column align-items-center">
    <h3>Your Current Budget is : {{ budget }}</h3>
        <br>
        <hr>
        <br>
        <h3>Want to Edit your Budget ???</h3>
        <br>

        <form method="post" class="w-25">


{#                <label for="budgetCost" class="form-label text-dark">Budget Cost</label>#}
                <input type="text" class="form-control" name="budgetCost" placeholder="enter your budget">


        <br>
            <div class="container">
        <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>


</div>


{% endblock %}