{% extends 'base_template.html' %}

{% block content %}

    <div class="w-100 center d-flex justify-content-center flex-column align-items-center">
    <h2>Learn About Various Investment Options : </h2>

    <br>

    <div class="subjects d-flex flex-column">
        <a href="{{url_for('investment_option_fxn')}}" class="btn options btn-light"> Learn More
        </a>
    </div>
<br><br>

<h2>Have a look at few Top Companies :</h2>
<br>
<ul>
    {% for name in result %}
    <div class="subjects d-flex flex-column">
        <a href="{{name[2]}}" class="btn options btn-light"> {{name[1]}}
        </a>
    </div>
    <hr>
    {% endfor %}

</ul>

    </div>

{% endblock %}