{% extends "base_template.html" %}
{% set active_link = 'contact' %}
{% block title %}Contact US{% endblock %}

{% block content %}

<div class="container  d-flex justify-content-center align-items-center mt-4">
    <div class="w-100 center d-flex justify-content-center flex-column align-items-center">
    <h2 class="text-dark">Facing Problem ? or Have any feedback</h2>
    <p class="fs-4 text-dark">Feel free to reach us by filling the form below🥰</p>
        <form method="post" class="w-25">
            <div class="mb-3 ">
                <label for="userEmail" class="form-label text-dark">Name</label>
                <input type="text" class="form-control" name="userName" placeholder="enter your name">
            </div>
            <div class="mb-3 ">
                <label for="userEmail" class="form-label text-dark">Email Id</label>
                <input type="text" class="form-control" name="userEmail" placeholder="enter your user Email">
            </div>

            <div class="mb-3 ">
                <label for="userEmail" class="form-label text-dark">Feedback or Problem</label>
                <textarea class="form-control" name="userFeedback" cols="20" rows="6" placeholder="describe your problem / give your valuable feedback"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>


{% endblock %}