{% extends 'base_template.html' %}

{% block content %}
    <br>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="w-100 center d-flex justify-content-center flex-column align-items-center">
    <br>
    <a href="{{url_for('view_expenses_fxn')}}">Click Here to View Your Expenses</a>
    <br>
    <hr>
    <br>
        <a href="{{ url_for('add_new_expenses_fxn') }}">Click Here to Add new Expenses</a>

    <br>
    <hr>
    <br>
    <a href="{{ url_for('remove_expense_fxn')  }}">Click Here to Remove an Expense</a>
    <br>
    <hr>
    <br>
    <h4>Starting with a new Month ?</h4>
        <br>
    <a href="{{ url_for('remove_all_expenses_fxn') }}">Click Here to Remove all Expenses</a>

    </div>


{% endblock %}