{% extends 'base_template.html' %}

{% block content %}
    <br>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="w-100 center d-flex justify-content-center flex-column align-items-center">
    <br>
    <h3>Explore the world of finance !!!</h3>
    <br>

    <div class = "urls_in_home">
    <div class="subjects d-flex flex-column">
        <a href="{{url_for('explore_fxn')}}" class="btn options btn-light"> Exploratory Zone
        </a>
    </div>

    <hr>

    <div class="subjects d-flex flex-column">
        <a href="{{url_for('calculator_tools_fxn')}}" class="btn options btn-light"> Calculator Tools
        </a>
    </div>

    <hr>

    <div class="subjects d-flex flex-column">
        <a href="{{url_for('budget_tracking_fxn')}}" class="btn options btn-light"> Budget Tracking
        </a>
    </div>

    <hr>

    <div class="subjects d-flex flex-column">
        <a href="{{url_for('expense_tracking_fxn')}}" class="btn options btn-light"> Expense Tracking
        </a>
    </div>

    <hr>

{#    <div class="subjects d-flex flex-column">#}
{#        <a href="{{url_for('view_registered_users_fxn')}}" class="btn options btn-light"> View Registered Users#}
{#        </a>#}
{#    </div>#}
{##}
{#    <hr>#}
    </div>

    </div>

{% endblock %}