{% extends 'base_template.html' %}

{% block content %}
    <h3>Explore the world of finance !!!</h3>
    <br>
    <div class="subjects d-flex flex-column">
        <a href="{{url_for('explore_fxn')}}" class="btn options btn-light"> Exploratory Zone
        </a>
    </div>

    <hr>

    <div class="subjects d-flex flex-column">
        <a href="{{url_for('calculator_tools_fxn')}}" class="btn options btn-light"> Calculator Tools
        </a>
    </div>

    <hr>

    <div class="subjects d-flex flex-column">
        <a href="{{url_for('budget_tracking_fxn')}}" class="btn options btn-light"> Budget Tracking
        </a>
    </div>

    <hr>





{% endblock %}