<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container  d-flex justify-content-center align-items-center mt-4">
        <div class="w-100 containerCenterX center d-flex justify-content-center flex-column align-items-center">
        <h1 class="text-light">Welcome to Finanstellar</h1>
        <p class="fs-5 text-light">"Your one stop destination for all finance "</p>
            <form method="post" class="w-25">

                <div class="mb-3 ">
                    <label for="customerName" class="form-label text-light">NAME</label>
                    <input type="text" class="form-control" name="customerName" placeholder="enter your name">
                </div>

                <div class="mb-3 ">
                    <label for="customerEmail" class="form-label text-light">Email</label>
                    <input type="email" class="form-control" name="customerEmail" placeholder="enter your email">
                </div>
                
                <div class="mb-3 ">
                    <label for="customerPassword" class="form-label text-light">Password</label>
                    <input type="password" class="form-control" name="customerPassword" placeholder="enter your password">
                </div>
                
                <div class="mb-3 ">
                    <label for="customerAge" class="form-label text-light">Age</label>
                    <input type="number" class="form-control" name="customerAge" placeholder="enter your age">
                </div>

                <div class="mb-3 ">
                    <label for="customerMobileNo" class="form-label text-light">Mobile No</label>
                    <input type="number" class="form-control" name="customerMobileNo" placeholder="enter your Mobile No">
                </div>


                <div class="mb-3 ">
                    <label for="customerAddress" class="form-label text-light">Address</label>
                    <input type="text" class="form-control" name="customerAddress" placeholder="enter your Address">
                </div>
            
                <button type="submit" class="btn btn-primary">SIGNUP</button>
            </form>
        </div>
    </div>

    <br><hr><br>
    <a href="{{url_for('welcome_fxn')}}">Press here to redirect to welcome page</a>

</body>
</html>



