{% extends 'base_template.html' %}

{% block content %}



    <div class="mt-4 text-center">
        <h3 class="text-dark">You are one step Closer to perfecting your expenses </h3>
    <br>

        <table style="width:100%">
            <tr>
                <th>Expense Name</th>
                <th>Expense Type</th>
                <th>Expense Cost</th>
            </tr>
            {% for expense in result %}

            <tr>
                {% if (expense[1] == 0) %}
                    <td>{{ expense[0]}} ♨ </td>
                    <td>{{ expense[1]}}  </td>
                    <td>{{ expense[2]}}  </td>
                {% else %}
                    <td>{{ expense[0]}} 🍀 </td>
                    <td>{{ expense[1]}}  </td>
                    <td>{{ expense[2]}}  </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>

    <br>
    <h4>Total Expense  : {{ totalExpense }}</h4>
    <br>
    <h4>Budget Balance : {{ budgetBalance }}</h4>
    <br><hr><br>
    <h5>Note the Symbols : </h5>
    <h5>🍀Healthy For Our Environment🍀</h5>
        <h5>♨Unhealthy For Our Environment♨</h5>
    </div>



{% endblock %}